---
import Layout from "@components/Layout.astro";
import Timeline from "@components/Timeline.astro";
import Footer from "@components/Footer.astro";
import Projects from "@components/projects.astro";

import Linkedin from "@images/external-logo/linkedin.svg";
import Github from "@images/external-logo/github.svg";
import DownFile from "@icons/file-down.svg";
import ScrollDown from "@icons/arrowhead-down-outline.svg";
import cv from "@files/CarlosValderas.pdf";
---

<Layout title="Carlos Valderas">
  <div class="flex flex-col h-screen">
    <div class="flex flex-col w-full items-center justify-center h-screen">
      <div
        class="flex flex-col md:flex-row gap-x-20 items-center justify-center gap-y-10"
      >
        <div class="text-center flex flex-col justify-center gap-y-2">
          <h1 class="text-4xl md:text-6xl font-bold text-cyan-400">
            Carlos Valderas
          </h1>

          <h2 class="text-md md:text-2xl font-bold pb-4 text-cyan-400/60">
            Desarrollador FullStack
          </h2>

          <div class="flex gap-x-4 justify-center mt-2">
            <span class="hover:bg-cyan-900 p-2 rounded-full transition-all">
              <a
                href="
		          https://www.linkedin.com/in/carlos-valderas-716785202/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-2xl font-bold"
              >
                <img src={Linkedin} alt="Linkedin" />
              </a>
            </span>
            <span class="hover:bg-cyan-900 p-2 rounded-full transition-all">
              <a
                href="https://github.com/cvalderas"
                target="_blank"
                rel="noopener noreferrer"
                class="text-2xl font-bold"
              >
                <img src={Github} alt="Github" />
              </a>
            </span>
            <span class="hover:bg-cyan-900 p-2 rounded-full transition-all">
              <a
                href={cv}
                target="_blank"
                rel="noopener noreferrer"
                class="text-2xl font-bold"
              >
                <img src={DownFile} alt="Resume" />
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto text-white animate-bounce mb-4">
      <img src={ScrollDown} alt="ScrollDown" width="40" height="40" />
    </div>
  </div>

  <Timeline />

  <Projects />

  <Footer />
</Layout>
